<%# <h1>Api::Welcomes#index</h1>
<p>Find me in app/views/api/welcomes/index.html.erb</p> %>

<h1>Welcome to the ID.me 3rd party Identity Provider application</h1>
<br>

<h3>For Keycloak....Please <%= link_to 'sign in here', controller: 'keycloak', action: :login %> </h3>
